body
{
    background-color: #045FB4;
    margin: 10px 10%;
    font-family: "Arial";
    color: white;
}

#contenedor
{
    display: grid;
    grid-template-rows: 35% 55% 10%;
    grid-template-columns: 40% 60%;
    gap: 10px;
    height: 800px;
}

#personajes
{
    grid-row: 1/3;
    grid-column: 2;
}

#ficha
{
    grid-row: 2/4;
    grid-column: 1;
    padding: 10px;
    border-radius: 10px;
}

#logo
{
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

#logo img
{
    width: 60%;
}

#botones
{
    text-align: center;
    padding: 10px;
}

button
{
    background-color: #8A0808;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin: 0 20px;
    font-size: 1.5em;
}

.listado
{
    margin-bottom: 0;
    padding: 10px 30px;
    display: grid;
    grid-template-columns: 10% 90%;
    gap: 20px;
}

.listado:nth-child(even)
{
    background-color: #819FF7
}

.listado:nth-child(odd)
{
    background-color: #5858FA;
}

.listado section img
{
    width: 100%;
}

#detalle section:first-child
{
    margin: 10px 30%;
}

#detalle img
{
    width: 100%;
}

#lupa img
{
    width: 50px;
    margin-left: 20px;
    vertical-align: bottom;
}